input
    margin: 5px
    width: 35px
    height: 35px
    font-weight: 700
    font-size: 20px
    text-align: center
    justify-content: center
    text-transform: uppercase

.CORRECT-WORD
    background: #1cac0c
    color: #ffffff
.VOID-WORD
    background: #ffffff
    color: #000
.YELLOW-WORD
    background: #ffe100
    color: #ffffff

.INCORRECT-WORD
    background: #686869
    color: #ffffff
