<app-inicio (outSelectDiff)="SelectDiff($event)"></app-inicio>

@if ( Palabras$ | async; as PalabrasA) {
  <div>
    <h1>La palabra del día</h1>

  
    @for ( char of characters; track $index) { 
      @if ($index%palabra.length === 0 && $index !==0){
        <br />
      }
      <app-celda
        caracter="{{ char.character }}"
        state="{{ char.state }}"
        focus="{{ char.focus }}"
        id="{{ char.id }}"
        (caracterOut)="CaracterEntrante($event)"
        [eventWord]="char.eventchar"
      ></app-celda>
    }
    <br /><br />
    <app-palabras [(Mensaje)]="error" [(arrFilaWrite)]="caractersDeHijo" [Palabras]="PalabrasA" [palabra]="palabra" [(characters)]="characters"></app-palabras>
    
    <span>{{ error }}</span>
    <!-- <span>{{palabra}}</span> -->
     
  </div>
  
  
} @else{
  <h1>cargando...</h1>
}


<div>
  
</div>
